<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfridge">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_chris_fridge_vector"
        android:label="FridgeTracker"
        android:roundIcon="@drawable/ic_chris_fridge_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFridge">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddGroceryActivity" />
        <activity android:name=".FridgeActivity"/>
        <activity android:name=".ViewItemActivity" />
    </application>

</manifest>